apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-deployment
  namespace: clinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: search-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: QUARKUS_HTTP_PORT
              value: "8080"
            - name: QUARKUS_OIDC_AUTH_SERVER_URL
              value: "http://keycloak:8080/realms/clinic"

          startupProbe:
            httpGet:
              path: /q/health
              port: 8080
            failureThreshold: 30
            periodSeconds: 2

          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
            initialDelaySeconds: 2
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
            initialDelaySeconds: 20
            timeoutSeconds: 2
            periodSeconds: 10
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: clinic
spec:
  selector:
    app: search-service
  type: NodePort
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30085
