apiVersion: v1
kind: ConfigMap
metadata:
  name: clinic-realm
data:
  clinic-realm.json: |
    {
      "realm": "clinic",
      "enabled": true,
      "displayName": "Clinic Realm",
      "loginWithEmailAllowed": true,
      "registrationAllowed": false,
      "resetPasswordAllowed": true,

      "roles": {
        "realm": [
          { "name": "patient", "description": "Patient can view own data" },
          { "name": "doctor", "description": "Doctor can view all data" },
          { "name": "staff", "description": "Staff can assist doctor" }
        ]
      },

      "users": [
        {
          "username": "doctor",
          "email": "doctor@example.com",
          "enabled": true,
          "emailVerified": true,
          "credentials": [
            { "type": "password", "value": "pass", "temporary": false }
          ],
          "realmRoles": [ "doctor" ]
        },
        {
          "username": "staff",
          "email": "staff@example.com",
          "enabled": true,
          "emailVerified": true,
          "credentials": [
            { "type": "password", "value": "pass", "temporary": false }
          ],
          "realmRoles": [ "staff" ]
        },
        {
          "username": "patient",
          "email": "patient@example.com",
          "enabled": true,
          "emailVerified": true,
          "credentials": [
            { "type": "password", "value": "pass", "temporary": false }
          ],
          "realmRoles": [ "patient" ]
        }
      ],

      "clients": [
        {
          "clientId": "token-client",
          "name": "Token Client for Local Testing",
          "protocol": "openid-connect",
          "publicClient": true,
          "directAccessGrantsEnabled": true,
          "standardFlowEnabled": false,
          "implicitFlowEnabled": false,
          "serviceAccountsEnabled": false,
          "redirectUris": [ "*" ],
          "webOrigins": [ "*" ],
          "defaultClientScopes": [ "profile", "email", "roles" ],
          "protocolMappers": [
            {
              "name": "realm roles",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-realm-role-mapper",
              "config": {
                "multivalued": "true",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "userinfo.token.claim": "true",
                "claim.name": "realm_access.roles",
                "jsonType.label": "String"
              }
            }
          ]
        },
        {
          "clientId": "patient-service",
          "name": "Patient Service Backend",
          "protocol": "openid-connect",
          "publicClient": false,
          "directAccessGrantsEnabled": false,
          "standardFlowEnabled": false,
          "serviceAccountsEnabled": true,
          "clientAuthenticatorType": "client-secret",
          "secret": "super-secret-key-123",
          "redirectUris": [],
          "webOrigins": [],
          "defaultClientScopes": [ "profile", "email", "roles" ],
          "protocolMappers": [
            {
              "name": "realm roles",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-realm-role-mapper",
              "config": {
                "multivalued": "true",
                "id.token.claim": "false",
                "userinfo.token.claim": "false",
                "access.token.claim": "true",
                "claim.name": "realm_access.roles",
                "jsonType.label": "String"
              }
            }
          ]
        },
        {
          "clientId": "clinic-spa",
          "name": "Clinic Frontend (React)",
          "protocol": "openid-connect",
          "publicClient": true,
          "directAccessGrantsEnabled": false,
          "standardFlowEnabled": true,
          "implicitFlowEnabled": false,
          "redirectUris": [
            "http://localhost:3000/*"
          ],
          "webOrigins": [
            "http://localhost:3000"
          ],
          "defaultClientScopes": [ "profile", "email", "roles", "web-origins" ],
          "protocolMappers": [
            {
              "name": "realm roles",
              "protocol": "openid-connect",
              "protocolMapper": "oidc-usermodel-realm-role-mapper",
              "config": {
                "multivalued": "true",
                "id.token.claim": "true",
                "access.token.claim": "true",
                "userinfo.token.claim": "true",
                "claim.name": "realm_access.roles",
                "jsonType.label": "String"
              }
            }
          ]
        }
      ]
    }
